doctype html

html(lang="ru")
    head
        title= AUTOCENTER
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="Тестовое задание на вакансию Frontend")
        link(rel="icon" href="favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="favicon/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicons/favicon-16x16.png")

        link(rel="stylesheet", href="css/style.min.css")

    body