mixin advantage()
    section.container.advantage
        .advantage__title
            h2 Главное преимущество компании
            span #1
        .advantage__content
            p.advantage__subtitle Работаем с 2012 года
            .advantage__discription
                p Вашим автомобилем будут заниматься люди с большим опытом, полученным за многие годы и прошедшие множество обучений.
                p Сотрудники обладают огромным багажом знаний, применяемых на практике.  
