mixin main-screen()
  - const slider = ["main-slide-1","main-slide-2","main-slide-3"]

  section.main-screen
    .main-screen__content
      h1.main-screen__title Специализированный Автосервис
      h2.visual-hidden Главный экран
      a.main-screen__phone(href="tel:+79991234567") +7 (999) 123-45-67
      dl.main-screen__contacts
        dt Работаем для вас: 
        dd Ежедневно с 9:00 до 21:00
        dt По адресу: 
        dd Екатеринбург, ул. Московский тракт 7 км, 2
      +btn-screen("Смотреть услуги","#services")
    .swiper.main-screen__slider
      .swiper-wrapper 
        .swiper-slide
          each slide in slider 
            +img("conten",slide,jpg,780,650)
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next