mixin main-screen()
  -
    const slider = [
      {name: "main-slide-1", path: "main-slide", alt: "Желтые ворота в нашу мастерскую."},
      {name: "main-slide-2", path: "main-slide", alt: "Механих смотрит двигатель."},
      {name: "main-slide-3", path: "main-slide", alt: "Механих смотрит под машиной."},
    ]

  section.main-screen
    .main-screen__content
      h1.main-screen__title Специализированный Автосервис
      h2.visually-hidden Главный экран
      a.main-screen__phone(href="tel:+79991234567") +7 (999) 123-45-67
      dl.main-screen__contacts
        dt Работаем для вас:
        dd Ежедневно с 9:00 до 21:00
        dt По адресу:
        dd Екатеринбург, ул. Московский тракт 7 км, 2
      +btn-scroll("Смотреть услуги","#services")
    .swiper.main-screen__slider
      .swiper-wrapper
        .swiper-slide
          each slide in slider
            +picture(slide.path, slide.name, "jpg", 780, 650, slide.alt)
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
