mixin theses()
    -
        const advantages = [
            {icon: "protection", text: "Гарантия работы 1 год"},
            {icon: "employer", text: "Квалифицированные сотрудники"},
            {icon: "comfort", text: "Комфортные зоны ожидания"},
            {icon: "equipment", text: "Современное оборудование"}
        ]

    section.container.theses
        .theses__description
            p Обратившись к нам, в автоцентр, вы окажетесь в надёжных руках специалистов послегарантийного ремонта и технического обслуживания автомобилей.
            p Чтобы автомобиль всегда оставался в отличной форме, необходимо выполнять регулярное ТО по программе рекомендованной производителем.
            p Подразделение нашей компании СЕРТИФИЦИРОВАННО - это позволяет производить обслуживание вашего автомобиля С СОХРАНЕНИЕМ ГАРАНТИИ.
        ul.theses__advantages
            each advantage in advantages
                li
                    +icon(advantage.icon, 60, 60)
                    p advantage.text
