mixin btn-link(href, type, text)
    - const type = type ? `btn-link--${type}` : "btn-link--light";

  a.btn-link(class = type)(href=href, arial-lable="Ссылка для перехода к разделу.")
    +icon("arrow-2", "24", "24")
    if text 
      span= text