//- Base

include ./base/header
include ./base/footer

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Blocks

include ./blocks/main-screen
include ./blocks/advantage
include ./blocks/services
include ./blocks/directions
include ./blocks/reviews
include ./blocks/stocks
include ./blocks/theses

//- Mixins

include ./mixins/btn-scroll
include ./mixins/btn-link
